#hello {
	color: red;
}

.actions.creatable {
	margin-left: 60px;
}

span.targetText {
	position: absolute;
	right: 55px;
	padding: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 200px;
	height: 100%;
}

#content-wrapper {
	padding-top: 0;
}
#controls {
	top: 0;
}

.has-favorites #headerName-container {
	padding-left: 0 !important;
}

.actions.creatable {
	margin-left: 0;
}

.newFileMenu.bubble:after {
	left: -5px !important;
	top: 6px !important;
	border-bottom-color: transparent !important;
	border-right-color: #fff;
	border-width: 8px;
}

.newFileMenu {
	margin-left: 45px !important;
	margin-top: 0 !important;
	top: 8px !important;
}

.newFileMenu.popovermenu {
	padding: 0 12px ;
}

.newFileMenu.popovermenu li {
	padding: 0;
}